body {
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar {
    background-color: #FFB3BA;
}

hr {
    height: 1px;
    background-color: #FFB3BA;
}

.side-aktif {
    background-color: #FFB3BA;
}

.base-price {
    padding: 6px;
    border-radius: 4px;
    background-color: #BAFFC9;
    color: #ff4255;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}